
<div id="menu-main-div">
    <div id="menu-content-div">
        <div class="menu-item-div" id="current-games-div">
            <span class="blue-text">С возвращением, <span class="red-text">username</span>!</span>
        </div>
        <div class="menu-item-div common-menu-item blue-text" id="start-game-div">
            <span class="menu-item-header">Начать игру</span>
            <span class="menu-item-subtext">Посмотрите доступные для подключения игры или создайте свою</span>
        </div>
        <div class="menu-item-div common-menu-item blue-text" id="game-rules-div">
            <span class="menu-item-header">Правила игры</span>
            <span class="menu-item-subtext">Освежите знания правил</span>
        </div>
        <div class="menu-item-div common-menu-item blue-text" id="cards-tutorial-div">
            <span class="menu-item-header">Просмотр карт</span>
            <span class="menu-item-subtext">Посмотрите на карты <span class="red-text">MONOPOLY</span> Deal</span>
        </div>
        <div class="menu-item-div common-menu-item blue-text" id="settings-div">
            <span class="menu-item-header">Настройки</span>
            <span class="menu-item-subtext">Измените данные о себе</span>
        </div>
        <div class="menu-item-div blue-text" id="whats-new-div">
            <div id="version-sign-div">
                <span id="header-span">Что нового?</span>
                <span class="red-text" id="version-span">v 0.0.1</span>
            </div>
            <div id="new-stuff-list">
                <ul>
                    <li><span>initial commit</span></li>
                    <li><span>Добавлена возможность изменять имя своего профиля</span></li>
                    <li><span>Приложение теперь запускается!</span></li>
                    <li><span>Исравлен баг с крашем приложения при просмотре данных о карточке. Тем не менее, достаточно рано говорить о полной готовности к деплою приложения на сервер</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>