<div id="game-room-div">
    <div id="enemies-fields-div">
        <md-enemy-field></md-enemy-field>
        <md-enemy-field></md-enemy-field>
        <md-enemy-field></md-enemy-field>
    </div>

    <div id="stats-cards-div">

        <div id="stats-div">
            <div id="money-div">10M</div>
            <div id="turns-div">
                <div class="turn-div"></div>
                <div class="turn-div"></div>
                <div class="turn-div"></div>
            </div>
        </div>
        
        <div id="player-cards">

        </div>
    </div>
    <div id="player-deck-div">
        <ng-container *ngFor="let card of cardArray">
            <md-playing-card [cardData]="card"></md-playing-card>
        </ng-container>
    </div>
</div>