<div class="enemy-main-div">
    <div class="enemy-info-div">
        <div class="enemy-img-div">
            <img src="/assets/test.jpg" alt="">
        </div>

        <div class="enemy-username-status-div">
            <span class="username-span blue-text">username</span>
            <div class="enemy-money-turns-div">
                <div class="turn-counter active"></div>
                <div class="turn-counter active"></div>
                <div class="turn-counter"></div>
                <div class="money-counter">
                    <span>10M</span>
                </div>
            </div>
        </div>

        <div class="enemy-deckcounter-div">
            <span>5</span>
        </div>
    </div>

    <div class="divider-div blue"></div>

    <div class="enemy-cards-div">
        <div class="mini-card brown-card"><span>5</span></div>
        <div class="mini-card light-blue-card">5<span></span></div>
        <div class="mini-card pink-card"><span>5</span></div>
        <div class="mini-card orange-card"><span>5</span></div>
        <div class="mini-card red-card"><span>5</span></div>
        <div class="mini-card yellow-card"><span>5</span></div>
        <div class="mini-card green-card"><span>5</span></div>
        <div class="mini-card blue-card"><span>5</span></div>
        <div class="mini-card station-card"><span>5</span></div>
        <div class="mini-card utility-card"><span>5</span></div>
    </div>
</div>
